@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Color palette */
    --color-primary: #1e40af;
    --color-dark-blue: #18338c;
    --color-primary-dark: #0a182e;
    --color-secondary: #172a46;
    --color-dark: #000000;
    --color-white: #ffffff;
    --goldan-color: #ff9901;
    --secondary-200: #263238;
    --gray-color: #63657e;
    --gray: #7c7c7c;
    --light-white: rgb(255 255 255 / 20%);
}

/* height */
.h-full {
    height: 100%;
}

/* background-color */
.bg-primary-color {
    background-color: var(--color-primary) !important;
}

.bg-light-white {
    background: var(--light-white);
}

.bg-primary-dark {
    background-color: var(--color-primary-dark);
}

.bg-secondary-color {
    background-color: var(--color-secondary) !important;
}

.bg-dark-blue {
    background: var(--color-dark-blue);
}

.bg-dark-color {
    background: var(--color-dark);
}

.bg-white-color {
    background: var(--color-white) !important;
}

/* color */
.text-primary-color {
    color: var(--color-primary);
}

.text-gray-primary {
    color: var(--gray);
}

.text-secondary-200 {
    color: var(--secondary-200);
}

.text-gray-color {
    color: var(--gray-color);
}

.text-golden-color {
    color: var(--goldan-color);
}

/* button css */
/* font-size */
.text-4xl {
    font-size: 2.63rem;
}

.primary-button,
.outline-button {
    min-width: 139px;
    height: 50px;
    border-radius: 10px;
}

.primary-button {
    background: var(--color-primary);
}

.outline-button {
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* card */
.career-card {
    .icon-box {
        width: 86px;
        height: 86px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}

.comment-input {
    font-size: 16px;

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.max-w-8xl {
    width: 90vw;
}

/* header */
.header {
    .toggle-btn-menu {
        display: none;
    }

    .desktop-menu {
        gap: 40px;
    }

    .avatar {
        min-width: 50px;
        width: 50px;
        min-height: 50px;
        border-radius: 50%;
    }
}

.btn-group {
    gap: 15px;
}

/* home */
/* Hide default Swiper arrows */

.testimonial-swiper {
    height: 270px;
    margin-top: 30px;

    .swiper-pagination {
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            background: #fff;

            &.swiper-pagination-bullet-active {
                width: 13px;
                height: 13px;
            }
        }
    }
}

/* .swiper-button-next,
.swiper-button-prev {
    display: none !important;
} */

/* dashboard page */
.profile-card {
    .avatar {
        min-width: 88px;
        width: 88px;
        min-height: 88px;
        border-radius: 50%;
        margin: auto;
        margin-top: -70px;
    }
}

.swiper-button-next,
.swiper-button-prev {
    background: var(--color-primary);
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    border-radius: 50%;

    &::after {
        font-size: 12px;
        color: #fff;
    }
}


/* profile */
.change-password-form-box {
    input {
        border: 1px solid #fff !important;
    }
}

/* steps */
.step-item {
    position: relative;

    .step-circle {
        &::before {
            content: "";
            position: absolute;
            width: 2px;
            height: 80%;
            background: var(--color-white);
            top: 100%;
        }

        &.active::before,
        &.completed::before {
            background: var(--color-primary);
        }

        &.completed {
            background: var(--color-primary);
            border-color: var(--color-primary);
        }
    }

    &:nth-last-child(1) {
        .step-circle {
            &::before {
                display: none;
            }
        }
    }
}

.subscription-pop-up {
    background-color: #172A46;
    height: 397px;
    width: 392px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.border-none {
    border: none !important;
}

@media screen and (max-width: 991px) {
    #mobile-menu {
        position: fixed;
        top: 0;
        left: 0%;
        transform: translateX(-100%);
        width: 80%;
        max-width: 400px;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(5px);
        padding: 2rem;
        transition: right 0.5s ease-in-out;
        z-index: 1000;
        overflow-y: auto;
    }

    #mobile-menu ul {
        flex-direction: column;
        margin-top: 4rem;
    }

    #mobile-menu.active {
        transform: translateX(0%);
    }

    .toggle-btn-menu {
        z-index: 1001;
    }

    .testimonial-swiper {
        height: auto !important;
    }

    .swiper-pagination {
        display: none !important;
    }
}

/* Custom arrow styling */
.custom-prev,
.custom-next {
    border: 1px solid #e5e7eb;
    cursor: pointer;
    outline: none;
}

.custom-prev:hover,
.custom-next:hover {
    background-color: #f9fafb !important;
}

.custom-prev:active,
.custom-next:active {
    transform: scale(0.95);
}

/* faq */
.accordion-items {
    .icon-box {
        min-width: 42px;
        min-height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
}

/* legal pages */
.legal-data {
    line-height: 35px;

    h3,
    h1,
    h2,
    h4,
    h5,
    h6 {
        font-size: 22px;
        font-weight: 700;

    }
}

/* footer */
.footer-content-banner {
    margin-bottom: -80px;
}

footer {
    .footer-container {
        padding: 90px 0 30px;
    }

    .left-content {
        width: 30%;
    }

    .right-content {
        width: 40%;

        .footer-menu {
            margin-top: 10px;

            li {
                margin-bottom: 10px;

                a {
                    color: #9ca3af;
                    font-size: 18px;
                }
            }
        }
    }
}

.subscription-pop-up {
    background-color: #172A46;
    border-radius: 16px;
    width: 392px;
    height: 400px;
}

.border-none {
    border: none !important;
}

/* guest layout */
.guest-layout {
    .left-content {
        padding: 0 10vw;
    }
}

.drop-shadow {
    border: 1px solid #FFFFFF33;
    box-shadow: 0px 0px 5px 0px #FFFFFF40;

}

.plan-features::-webkit-scrollbar {
    display: none;
}


.swiper {
    overflow: visible;

    .swiper-pagination {
        display: none;
    }
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 506px;
}

.plan-card {
    background: #172A46;
    border-radius: 16px;
    padding: 40px 35px;
    width: 100%;
    height: 561px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    position: relative;
    z-index: 99;
    overflow: hidden;
    transition: all 0.2s ease;
}

.swiper-slide-active .plan-card {
    transform: scale(0.9);
    z-index: 10;
}

.swiper-slide-prev .plan-card,
.swiper-slide-next .plan-card {
    background: #213C62 !important;
    transform: scale(0.8);

    .card-content {
        display: none;
    }

}

.swiper-slide-prev {
    transform: translateX(80%) !important;
}

.swiper-slide-next {
    transform: translateX(-80%) !important;
}

.card-content {
    position: relative;
    z-index: 1;
}

.plan-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
    background: linear-gradient(90deg, #fff 0%, #e0e7ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plan-subtitle {
    font-size: 16px;
    color: #C8C8C8;
    margin-bottom: 30px;
    font-weight: 300;
}

.plan-price {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 5px;
    display: flex;
    align-items: baseline;
}

.plan-price span {
    font-size: 18px;
    font-weight: 400;
    color: #C8C8C8;
    margin-left: 8px;
}

.plan-features {
    list-style: none;
    margin-bottom: 35px;
    padding-left: 0;
}

.plan-features li {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    color: #E2E8F0;
    font-size: 16px;
}






@media screen and (max-width:1400px) {
    .guest-layout {
        .left-content {
            padding: 0 2vw;
        }
    }
}

.iti {
    width: 100%;
}

/* .phone-input { */
/* background: var(--color-white); */
/* .PhoneInputCountry {
        background: var(--color-primary-dark);
        color: #c3c3c3;
        margin: 0;
        padding: 4px;
        border-radius: 5px 0 0 5px;
    }
    .PhoneInputCountryIcon {
        width: 15px !important;
        height: 8px;
        box-shadow: none;
    }
    input {
        border-radius: 0 5px 5px 0 !important;
        border-color: var(--color-white);
    } */
/* } */
.auth-form {
    input {
        background: var(--color-primary-dark) !important;
        border-color: var(--color-primary-dark) !important;
        color: var(--color-white);
    }
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .custom-prev {
        left: -30px !important;
    }

    .custom-next {
        right: -30px !important;
    }
}

@media (max-width: 768px) {

    .custom-prev,
    .custom-next {
        width: 8px !important;
        height: 8px !important;
        display: none !important;
        /* Hide arrows on mobile if needed */
    }

    .desktop-menu {
        li {
            width: 100%;
            margin-left: 0% !important;
            padding-top: 4%;
        }
    }

    .plan-card {
        width: 350px;
    }

    .swiper-slide {
        padding: 0px 10px;
        margin: 0px !important;
    }

    .swiper-slide-prev {
        transform: none !important;
    }

    .swiper-slide-next {
        transform: none !important;
    }

    .swiper-slide {
        width: 100%;
    }


}

@media screen and (max-width: 576px) {
    .testimonial-swiper {
        height: 320px !important;
    }

    footer {
        .footer-container {
            flex-direction: column;

            .left-content,
            .right-content {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .social-container {
            flex-direction: column;
            justify-content: center;
            align-self: center;

            .copyright-text {
                text-align: center;
            }

            .social-icons {
                justify-content: center;
            }
        }
    }

    .guest-layout {
        .left-content {
            padding: 90px 20px;
        }
    }
}

.social-icons img{
    height: 30px !important;
    width: 30px !important;
}